.next-holiday
  .next-holiday__inner
    %h1.next-holiday__title
      - if request.path == "/"
        次の祝日は？
      - else
        %a.next-holiday__title-link{ href: "/" }
          Next Holiday
    %time.next-holiday__date{ datetime: @holiday.date}
      #{@holiday.date.month}月#{@holiday.date.day}日(#{@holiday.wday_name})
    %nav.next-holiday-nav
      %ul.next-holiday-nav__items
        %li.next-holiday-nav__item.is-prev
          %a.next-holiday-nav__item-link{ href: "/date/#{@prev.date}" }
            %i.fa.fa-angle-left
        %li.next-holiday-nav__item.is-current
          = @holiday.name
        %li.next-holiday-nav__item.is-next
          %a.next-holiday-nav__item-link{ href: "/date/#{@next.date}" }
            %i.fa.fa-angle-right
