!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    %meta{'http-equiv' => 'Content-Script-Type', 'content' => 'text/javascript'}
    %meta{name: 'description', content: '次の祝日を教えてくれるサービス'}
    %meta{name: 'keywords', content: '祝日,お休み,休日,お出かけ'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title Next Holiday
    %link{href: '/assets/stylesheets/application.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
  %body{class: "is-#{@holiday.date.month}", style: "background-image: url(/images/bg_#{@holiday.date.month}_2.jpg)"}
    .wrapper{style: "background-image: url(/images/bg_#{@holiday.date.month}_1.jpg)"}
      %main.main
        .next-holiday
          .next-holiday__inner
            %h1.next-holiday__title
              次の祝日は？
            %time.next-holiday__date
              #{@holiday.date.month}月#{@holiday.date.day}日
            %nav.next-holiday-nav
              %ul.next-holiday-nav__items
                %li.next-holiday-nav__item.is-prev
                  %a.next-holiday-nav__item-link{href: ""}
                    %i.fa.fa-angle-left
                %li.next-holiday-nav__item.is-current
                  = @holiday.name
                %li.next-holiday-nav__item.is-next
                  %a.next-holiday-nav__item-link{href: "/#/date/#{@holiday.date.next}"}
                    %i.fa.fa-angle-right

      %footer.footer
        %h2.footer__title <a href="/">Next Holiday</a>
        .footer__powerd-by
          Powerd by
          <a href="https://github.com/holiday-jp/holiday_jp" target="_blank">holiday_jp</a>
        .footer__photos
          Photos by
          <a href="https://www.pakutaso.com/" target="_blank">フリー写真素材ぱくたそ</a>
        %small.footer__copyright
          Copyright
          %i.fa.fa-copyright
          = Date.today.year
          <a href="http://fjord.jp" target="_blank">FJORD, LLC</a>


    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2927688-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
